src/main/mule/muleplu-xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:hello-world="http://www.mulesoft.org/schema/mule/hello-world"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hello-world http://www.mulesoft.org/schema/mule/hello-world/current/mule-hello-world.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c10af408-3aa9-48b4-887b-3023a65b4d8b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<hello-world:config name="Hello_World_Config" doc:name="Hello World Config" doc:id="7a2bdcce-d100-4293-91d0-e23ecdd2222a" text='#["YEAH " ++ (payload as String)]' />
	<flow name="muleplu-xmlFlow" doc:id="f4f74efd-2251-4883-9263-67ed915f6119" >
		<http:listener doc:name="Listener" doc:id="292f97cb-95cb-43a3-8489-bfa711603442" config-ref="HTTP_Listener_config" path="/say"/>
		<hello-world:sum doc:name="Sum" doc:id="16ddb7a2-4907-4fb9-bb77-92f1e24d5ab1" numA="#[attributes.queryParams.a default 1]" numB="#[attributes.queryParams.b default 1]" config-ref="Hello_World_Config" />
		<hello-world:say doc:name="Say" doc:id="5d6844bf-cf93-4712-8959-1f0d930d0fa3" config-ref="Hello_World_Config"/>
	</flow>
</mule>
